/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 0;
  margin: 0;
  background-image: url("background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h2 {
  padding: 0;
  margin: 0;
}

.log-in {
  margin:0;
  background:image-url("log_in_background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat:no-repeat;
  height:100vh;
}

.log-in-capsule {
  height: auto;
  display: table;
  width: 300px;
  float: left;
  height: 100vh;
  background-color: darkred;

}

.singn-up-capsule {
  height: auto;
  display: table;
  text-align: left;
  width: 300px;
  float: right;
  height: 100vh;
  background-color: darkred;
}

.last-capsule {
  color: white;
  padding: 30px;
  height: 100%;
}

.text-center {
  text-align: center;
}

.log-in-btn {
  margin-top: 10px;
}

.black-text {
  color:black;
}

/* SIDEBAR */
.title {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: block;
  padding: 2%;
}

.bg-img {
  background-image: image-url("background.png");
  background-attachment: fixed;
  height: 100vh;
  background-repeat: no-repeat;
}

.title-border {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-image: image-url("stone.jpg");
  border-radius: 0px 0px 20px 20px;
  padding: 0 10px 20px 10px;
}

@media (max-width: 950px) {
  .title-border {
    margin-bottom: 10px;
  }
}

@media (max-width: 893px) {
  .side-bar {
    margin-right: 20px;
  }
}
.scll {
  background-image: image-url("scroll.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 20px 20px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.scll2 {
  height:100%;
  background-image: image-url("scroll.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 20px 20px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.scll-game {
  height:100%;
  background-image: image-url("scroll.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 5px 5px 5px 5px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
}

.scll3 {
  height:100%;
  background-image:url("scroll.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px 20px 20px 20px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
  padding: 3%;
  color: white;
}


.side-bar {
  height:70%;
  margin-left: 20px;
  background-image: image-url("stone.jpg");
  border-radius: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
}

.game-container {
  margin-top: 1%;
  height: 65%;
  background-image: image-url("wood.jpg");
  border-radius: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

li a {
  display: block;
  color: yellow;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
}

li a.active {
  color: white;
}

li a:hover:not(.active) {

  color: orange;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.about-h2 {
  text-align: center;
}
.blog-img {
  width: 90%;
  display:block;
  margin:auto;
}

.profile-img {
  padding: 1%;
  width: 100%;
  height: 100%;
  background-image: image-url("Dinosaurio.jpg");
  background-size: cover;
  border-radius: 20px 20px 20px 20px;
}

.profile-stone{
  width: 150px !important;
  height: 150px !important;
  background-image: image-url("stone.jpg");
  border-radius: 20px 20px 20px 20px;
  padding: 10px 10px 10px 10px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
  background-repeat: no-repeat;
}

.profile-table {
  width: 100%;
}

/* Back to top */

#back-to-top {
  position: fixed;
  bottom: 60px;
  right: 60px;
  z-index: 9999;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

#back-to-top.show {
  opacity: 1;
}
#content {
  height: 2000px;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(63, 81, 181,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-image: image-url("stone.jpg");
  -webkit-box-shadow: inset 0 0 6px rgba(63, 81, 181,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background-image: image-url("stone.jpg");
}
/*End back to top*/